
  * {
    margin: 0px;
    padding: 0px;
  }
  
  html {
    height: 100vh;
  }
  
  body {
    background: #e0caae;
    background-attachment: fixed;
    height: 100vh;
    overflow: hidden;
  }
  
  .btn {
    cursor: pointer;
    display: block;
    background-color: white;
    background-clip: padding-box;
    border-radius: 9999px;
    width: 120px;
    height: 120px;
  }
  .btn img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
  
  .chooseModeDiv {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
  }
  .modeBtn {
    width: 400px; 
    height: 100px; 
    margin:20px;
  }
  #header {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 1vh;
    width: 100%;
    font-family: cursive;
    text-transform: uppercase;
    padding: 15px;
    /*border: 3px solid #606e85;*/
    border-radius: 15px;
    line-height: 30px;
  }
  #header .title {
    color:grey;
    font-size: 40px;
    font-weight: bold;
  }
  #header .title img {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 100%;
  }
  #header .title #extended-title {
    opacity: 0;
  }
  #header #scoreBox {
    display: block;
    position: relative;
    margin-right: 30px;
    color: grey;
    border:5px solid grey;
    width: 120px;
    height: 100px;
    font-size: 13px;
    font-family: BarlowSemi;
    letter-spacing: 2px;
    border-radius: 15px;
    background-color: white;
  }
  #header #scoreBox .scoreResult {
    display: block;
    position: absolute;
    width: 44px;
    top: 5px;
    right: 0;
    left: 0;
    margin: auto;
  }
  #header #scoreBox #score {
    height: 50px;
    font-size: 50px;
    font-family: BarlowBold;
    text-align: center;
    color: #3b4363;
    display: block;
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    margin: auto;
    /*width: 30px;*/
  }
  #header #scoreBox .computerScore {
    /*opacity: 0;*/
  }
  .start {
    display: flex;
    justify-content: center;
    text-decoration: none;
    margin-top: 15vh;
  }
  .startBtn {
    width: 400px; 
    height: 100px; 
    margin:20px;
  }
  
  .chooseGameText {
    display: flex;
    justify-content: center;
    font-size: 30px;
    padding: 50px;
    color: grey;
    font-weight: bold;
    font-family: monospace;
  }
  #playerGame {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 15vh;
  }
  .playerGame > .flex-row-item {
    flex:1 1 30%; /*grow | shrink | basis */
  }
  
  .flex-row-item {
    width: 130px;
    height: 130px;
    padding:15px;
  }
  
  #extended-game {
    position: relative;
    margin: 0 auto;
    margin-top: 12vh;
    background-size: contain;
    background-repeat: no-repeat;
    width: 400px;
    height: 400px;
  }
   .winImgRight {
      margin-left:40vh;
    }
    .winImgLeft {
      margin-right: 40vh;
    }
  
  .paperBtn,
  .paperBtn-extended {
    /*position: absolute;
    top: -70px;
    left: -60px;
    border: 20px solid #5671f5;
    box-shadow: 0px 7px 2px #ccc inset, 0px 7px 0px #2945c3;*/
  }
  
  .paperBtn-extended {
    top: 60px;
    left: 330px;
  }
  .paperBtn,
  .paperBtn img, .rockBtn img, .scissorsBtn img {
    width: 50px;
  }
  
  .rockBtn,
  .rockBtn-extended {
    /*position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border: 20px solid #dd405d;
    box-shadow: 0px 7px 2px #ccc inset, 0px 7px 0px #9f1536;*/
  }
  
  .rockBtn-extended {
    bottom: -60px;
    left: 245px;
    margin: 0px;
  }
  
  .scissors-btn,
  .scissors-btn-extended {
    position: absolute;
    top: -70px;
    right: -60px;
    border: 20px solid #eca922;
    box-shadow: 0px 7px 2px #ccc inset, 0px 7px 0px #cc6c16;
    /*top: -70px;
    right: -60px;*/
    border: 5px solid grey;
    /*box-shadow: 0px 7px 2px #ccc inset, 0px 7px 0px #cc6c16;*/
  }
  
  .scissors-btn-extended {
    top: -80px;
    right: 0px;
    left: 0px;
    margin: auto;
  }
  .basicBtn {
    cursor: pointer;
    text-transform: uppercase;
    font-family: BarlowSemi;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2px;
    color: grey;
    background-color: white;
    border: 2px solid grey;
    border-radius: 10px;
    margin-left: 10px;
    padding: 5px 20px;
    transition: all 300ms ease-in-out;
  }
  .basicBtn:hover {
    color: #3b4363;
    background-color: white;
    border: 2px solid white;
  }
  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  footer .changeMode {
    text-transform: uppercase;
    font-family: BarlowSemi;
    font-size: 16px;
    margin-left:15px;
    margin-bottom:30px;
    letter-spacing: 2px;
    color: grey;
  }
  footer .basicBtn {
    cursor: pointer;
    text-transform: uppercase;
    font-family: BarlowSemi;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2px;
    color: grey;
    background-color: white;
    border: 2px solid grey;
    border-radius: 10px;
    margin-left: 10px;
    padding: 5px 20px;
    transition: all 300ms ease-in-out;
  }
  footer .basicBtn:hover {
    color: #3b4363;
    background-color: white;
    border: 2px solid white;
  }
  footer #gameModeBtn {
    display: block;
    position: absolute;
    bottom: 3vh;
  }
  .paperBtn, .rockBtn, .scissorsBtn {
    position: absolute;
    margin: auto;
    border: 5px solid grey;
    border-radius: 50%;
    width: 120px;
    height: 120px;
  }
  
  #game {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    color: white;
    font-family: BarlowSemi;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 50px;
    position: relative;
  }
  #game #playersChoice,
  #game #computerChoice {
    width: 25%;
    height: 40vh;
    position: relative;
  
  }
  #game #playersChoice h4,
  #game #computerChoice h4 {
    display: block;
    position: absolute;
    right: 0;
    left: 0;
  }
  #game #playersChoice .playersChoices,
  #game #playersChoice .computerChoices,
  #game #computerChoice .playersChoices,
  #game #computerChoice .computerChoices {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
   
    width: auto;
    height: auto;
  }
  #game #playersChoice .playersChoices,
  #game #playersChoice .computerChoices,
  #game #computerChoice .playersChoices,
  #game #computerChoice .computerChoices{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 200px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 9999px;
  }
  #game #playersChoice .playersChoices,
  #game #playersChoice .playersChoices,
  #game #playersChoice .computerChoices,
  #game #playersChoice .computerChoices,
  #game #computerChoice .playersChoices,
  #game #computerChoice .playersChoices,
  #game #computerChoice .computerChoices,
  #game #computerChoice .computerChoices {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
    border-radius: 9999px;
    background-color: transparent;
    opacity: 1;
    width: 100%;
  }
  .playersChoices {
    width: 100%;
    opacity: 1;
    margin-top: 5vh;
  }
  .computerChoices {
    width: 100%;
    opacity: 1;
    margin-top: 5vh;
  }
  #game #playersChoice .playersChoices,
  #game #playersChoice .playersChoices,
  #game #playersChoice .computerChoices,
  #game #playersChoice .computerChoices,
  #game #computerChoice .playersChoices,
  #game #computerChoice .playersChoices,
  #game #computerChoice .computerChoices,
  #game #computerChoice .computerChoices {
    display: flex;
    align-items: center;
    z-index: -1;
    /*border-radius: 9999px;
    background-color: rgba(255, 255, 255, 0.05);*/
  }
  #game #playersChoice .playersChoices,
  #game #playersChoice .playersChoices,
  #game #playersChoice .computerChoices,
  #game #playersChoice .computerChoices,
  #game #computerChoice .playersChoices,
  #game #computerChoice .playersChoices,
  #game #computerChoice .computerChoices,
  #game #computerChoice .computerChoices{
    display: flex;
    align-items: center;
    /*width: 115px;
    height: 115px;*/
    z-index: -1;
    
    /*border-radius: 9999px;
    background-color: rgba(255, 255, 255, 0.075);*/
  }
  #game .btnChosen,
  #game .computerBtnChosen {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    right: 0;
    bottom: 0;
    width: 170px;
    height: 170px;
  }
  #game .btnChosen img,
  #game .computerBtnChosen img {
    width: 70px;
  }
  #game .paperBtn {
    /*border: 25px solid #5671f5;*/
  }
  #game .rockBtn {
    /*border: 25px solid #dd405d;*/
  }
  #game .scissorsBtn {
    /*border: 25px solid #eca922;*/
  }
  
  #game #result {
    display: block;
    position: absolute;
    z-index: 1;
    height: 150px;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  #game #result h1 {
    font-size: 50px;
  }
  #game #result .restartBtn {
    /*cursor: pointer;
    text-transform: uppercase;
    font-family: BarlowSemi;
    font-size: 15px;
    letter-spacing: 3px;
    color: #3b4363;
    background-color: white;
    border: 2px solid grey;
    border-radius: 10px;
    padding: 10px 50px;
    margin-top: 20px;
    transition: all 300ms;*/
    border-top: 50px solid transparent;
    border-left: 100px solid grey;
    border-bottom: 50px solid transparent;
    border-right: 0;
    background-color: transparent;
    width: 0;
    height:0;
  }
  #game #result .restartBtn:hover {
    color: grey;
    font-weight: bolder;
  }
  
  @media (max-width: 1000px) {
   
  #game .btnChosen,
  #game .computerBtnChosen {
      width: 100px;
      height: 100px;
    }
   
  
    #game .paperBtn img,
  #game .rockBtn img,
  #game .scissorsBtn img
  {
      width: 40%;
    }
    #game #result h1 {
      font-size: 35px;
    }
    #game #result .restartBtn {
      font-size: 13px;
      padding: 10px 30px;
  
    }
  }
  @media (max-width: 670px) {
    #playerGame {
      height: 250px;
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content:space-evenly;
    }
    .btn {
      width: 90px;
      height: 90px;
      border-width: 5px;
    }
    .btn img {
      width: 40%;
    }
  
  
    h4 {
      bottom: 0vh;
    }
  
    #game {
      display: grid;
      grid-template-areas: "user house" "result result";
      grid-template-columns: repeat(2, 45vw);
      grid-template-rows: 40vh 20vh;
      justify-items: center;
    }
    #game #playersChoice {
      grid-area: user;
      width: 100%;
    }
    #game #computerChoice {
      grid-area: house;
      width: 100%;
    }
    #game #playersChoice,
  #game #computerChoice {
      height: 30vh;
    }
   
    #game #result {
      grid-area: result;
      margin: 0;
    }
    #game #result h1 {
      font-size: 10vw;
    }
    #game #result .restartBtn {
      font-size: 4vw;
      padding: 10px 30px;
    }
   .winImgRight {
      margin-left:20vh;
    }
    .winImgLeft {
      margin-right: 20vh;
    }
  
    .imgWin {
      width: 20px;
    }
  
    #header {
      height: 9vh;
      border-radius: 7px;
  
    }
    #header .title {
      height: 9vh;
      font-size: 25px;
      display: flex;
      align-items: center;
    }
    #header #scoreBox {
      height: 9vh;
      width: 8vh;
      border-radius: 7px;
    }
    #header #scoreBox .scoreResult {
      height: 24px;
    }
    #header #scoreBox #score {
      font-size: 35px;
      bottom: 10px;
      height: auto;
    }
  }
  @media (max-width: 460px) {
    #header {
      width: 75vw;
    }
  
  footer #gameModeBtn {
      margin-bottom: 5vh;
      padding: 10px 0px;
      width: 35%;
      cursor: pointer;
      z-index: 1;
      font-size: 4vw;
      bottom: 0;
    }
  
    #playerGame {
      width: 200px;
      height: 200px;
    }
  
    #game {
      grid-template-rows: 30vh 25vh;
    }
    #game .btnChosen,
  #game .computerBtnChosen {
      width: 80px;
      height: 80px;
      border-width: 12px;
    }
    #game #playersChoice,
  #game #computerChoice {
      height: 25vh;
    }
    
    #game #result {
      margin-top: 3vh;
    }
    #game #result h1 {
      font-size: 12vw;
    }
    #game #result .restartBtn {
      font-size: 5vw;
      padding: 15px 50px;
    }
  }
  
  